.Editor {
	text-align: left;
}

.container {
	display: flex;
	flex-wrap: wrap;
    border-top: 1px solid #000;
    height: calc(100vh - 90px);
}

.editor {
	flex: 1;
	border-right: 1px solid #000;
}

textarea {
	text-align: left;
	resize: none;
	overflow: auto;
	border: none;
	outline: none;
	padding-left: 8px;
	padding-top: 16px;
	overflow-y: auto;
	overflow-x: hidden;
}

.toolbar {
	border-bottom: 1px solid #000;
}

.preview {
	flex: 1;
    text-align: left;
    word-break: break-word;
	padding-left: 8px;
	padding-top: 16px;
	overflow-y: auto;
	overflow-x: hidden;
}
